header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .top {
    background-color: #DC8686;
    height: 50px;
    z-index: 999;
    }
    nav {
    margin: 40px 46px 0;
    float: right; 
    a {
        font-size: 2.25rem; font-weight: 600; margin-right: 30px;
    color: #E7C6C6;
    }
    a.active {
        color: #DC8686;
    }
    }
}
