html ,body {overflow-x:hidden; width:100%;}
/* 글자 바꾸는 방법
    h1 {
    font-weight: 800; font-size: 5rem;
    background: linear-gradient(to right, aqua, lime, pink, aqua);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: text_bg 5s linear infinite;
}
@keyframes text_bg {
    0% {background-position-x:100% ;}
    100% {background-position-x: 400%;}
} */
main {background-color: #F5EEE6;}
header {position: fixed; top: 0; left: 0; width: 100%; }
header .top {
    background-color: #DC8686;
    height:50px ; z-index: 999;
}
header nav {
    margin: 40px 46px 0; float: right; 
}
header nav button {font-size: 2.25rem; font-weight: 600; margin-right: 30px;
    color: #DC8686;
}
main {}
/* intro */

main .wrap {padding-top: 176px;}
/* about */
main .wrap .about {margin: 200px 90px 0;}
main .wrap .about h2 {
    color: #776B5D; font-weight: 600; font-size: 4rem; text-align: center;
}
main .wrap .about .about_container {
    margin: 100px auto 116px;
    display: grid; grid-template-columns: repeat(3, 300px); 
    justify-content: center; align-items: center;
    column-gap: 100px;
    row-gap: 70px;
}
main .wrap .about .about_container .box {
    background-color: #B0A695; border-radius: 25PX;
    text-align: center; width: 300px; height: 250px;
}
main .wrap .about .about_container .box:hover {
    background-color: #DC8686;
}
main .wrap .about .about_container .box:hover > .about_title {
    color: #F5EEE6;
}
main .wrap .about .about_container .box:hover > .about_content {
    color: #F5EEE6;
}
main .wrap .about .about_container .box .about_title {
    margin-top: 68px; color: #000;
    font-size: 1.5rem; font-weight: 600;
}
main .wrap .about .about_container .box .about_content {
    margin-top: 20px; color: #000; 
    font-size: 1.25rem;
}
main .wrap .about span {
    content: ''; display: block;
    width: 557px; height: 3px; position: relative; top: 0; left: 50%;
    transform: translateX(-50%);
    background-color: #776B5D;
    margin-bottom: 200px;
}
/* skill */
main .wrap .skill {
    background-color: #B06161;
    padding: 95px 0;
}
main .wrap .skill h2 {
    color: #E7C6C6; font-weight: 600; font-size: 4rem; text-align: center;
    margin: 0 auto 100px; 
}
main .wrap .skill .skill_container {
    background-color: #fff; margin: 0 144px;
    padding: 30px 65px; border-radius: 40px;
}
main .wrap .skill .skill_container .skill_photo {
    display: flex; flex-flow: row wrap; 
    gap: 20px;
}
main .wrap .skill .skill_container .skill_photo button {}
main .wrap .skill .skill_container .skill_photo button img {
    width: 100px; height: auto; 
}
main .wrap .skill .skill_explanation {
    background-color: #fff; margin: 80px 144px;
    padding: 70px 65px; border-radius: 40px;
    display: flex;
}
main .wrap .skill .skill_explanation .last_skill_photo {
    margin-right: 58px;
}
main .wrap .skill .skill_explanation .last_skill_photo img {
    width: auto; height: 300px; 
    display: none; 
}
main .wrap .skill .skill_explanation .last_skill_photo img:first-of-type {
    display: block;
}
main .wrap .skill .skill_explanation .skill_text {
}
main .wrap .skill .skill_explanation .skill_text .box {padding: 0 100px;}
main .wrap .skill .skill_explanation .skill_text .box .skill_title {
    display: none; font-size: 4rem; font-weight: 700;
}
main .wrap .skill .skill_explanation .skill_text .box:first-of-type .skill_title {
    display: block;
}
main .wrap .skill .skill_explanation .skill_text .box .skill_content {
    display: none; margin-top: 75px; font-size: 1.25rem; font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
}
main .wrap .skill .skill_explanation .skill_text .box:first-of-type .skill_content {
    display: block;
}
/* .project */
main .wrap .project {
    margin: 200px 90px 0;
}
main .wrap .project > h2 {
    color: #776B5D; font-weight: 600; font-size: 4rem; text-align: center; margin-bottom: 150px;
}
main .wrap .project .swiper-container {position: relative;}
main .wrap .project .swiper-container .swiper-wrapper {
    display: flex;
    /* width: 100%; overflow-x: hidden; */
    width: 100%;
    white-space: nowrap; justify-content: space-between;
    padding-bottom: 250px; margin-left: 200px;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%; display: inline-block; margin-right: 300px;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide h2 {
    font-size: 2rem; font-weight: 700; color: #776B5D;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container {
    margin-top: 20px; display: flex; 
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo {position: relative; overflow: hidden;}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo img {
    height: 400px; width: auto; margin-right: 130px;
    z-index: 100; position: relative;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo .project_link button {
    text-align: left; width: 100px;
    position: absolute; left: 340px;  padding: 5px 15px;
    background-color: #DC8686; border-radius: 5px;
    z-index: 1; color: #fff;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo .project_link .result {top: 300px;}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo .project_link .plan {top: 340px;}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo .project_link .result:hover {
    background-color: #E7C6C6; transform: translateX(70px);
    width: 100px; transition: all 0.3s
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo .project_link .plan:hover {
    background-color: #E7C6C6; transform: translateX(70px);
    width: 70px; transition: all 0.3s;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .content {

}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .content dl {
    margin-top: 20px;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .content dl dt {
    font-size: 2rem;
    white-space: nowrap;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .content dl dd {
    font-size: 1.25rem;
}
main .wrap .project .swiper-container .btn {
    position: absolute; left: 50%; bottom: 131px;
    transform: translateX(-50%);
}
main .wrap .project .swiper-container .btn button {
    margin-right: 10px; font-weight: 500; font-size: 1.125rem;
}
main .wrap .project .swiper-container .swiper-button-prev{
    color: #776B5D;
}
main .wrap .project .swiper-container .swiper-button-next {
    color: #776B5D;
}
main .wrap .project .swiper-container .swiper-pagination {
    bottom: 60px; font-weight: 700; 
}