* {cursor: none; z-index: 1;}
html ,body {overflow-x:hidden; width:100%; min-width: 1470px;}
/* 글자 바꾸는 방법
    h1 {
    font-weight: 800; font-size: 5rem;
    background: linear-gradient(to right, aqua, lime, pink, aqua);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: text_bg 5s linear infinite;
}
@keyframes text_bg {
    0% {background-position-x:100% ;}
    100% {background-position-x: 400%;}
} */
main {background-color: #F5EEE6;}
.circle {
    position: fixed; 
    /* 마우스 가운데로 가게 만들어줌  */
    transform: translate(-50%, -50%);
    /* 마우스가 눌리게 만듬(기능 해제로 다른 이벤트 사용가능) */
    pointer-events: none;
    z-index: 9999;
}
.circle img {
    width: 30px; height: auto;
}
main {}
/* intro */

main .wrap {padding-top: 176px; width: 100vw;}
/* about */
main .wrap .about {height: 100%;
}
main .wrap .about h2 {
    margin-top: 30px;
    color: #776B5D; font-weight: 600; font-size: 4rem; text-align: center;
}
main .wrap .about h3 {
    text-align: center;
    font-size: 1.5rem; font-weight: 600;
    line-height: 1.5;
    margin-top: 35px;
}
main .wrap .about .about_container {
    margin: 30px 116px 0;
}
main .wrap .about .about_container .bg {
    background-color:#fff; display: flex; flex-flow: row nowrap;
    border-radius: 10px; align-items: center;
    padding: 30px 60px; width: 100vw;
}
main .wrap .about .about_container .bg .photo {
    overflow: hidden; margin-right: 65px;
}
main .wrap .about .about_container .bg .photo img {
    border-radius: 50%; width: 300px; height: auto; 
    object-position:left 20%; 
    filter:contrast(85%) brightness(120%) saturate(110%) sepia(10%);
}
main .wrap .about .about_container .bg .about_content {
    display: flex; flex-flow: column nowrap; justify-content: flex-start;
}
main .wrap .about .about_container .bg .about_content > p {
    font-size: 1.125rem; font-weight: 600;
    margin-bottom: 40px; font-family: "Noto Sans KR", sans-serif;
}
main .wrap .about .about_container .bg .about_content > p:first-of-type {
    font-size: 1.5rem; 
}
main .wrap .about .about_container .bg .about_content .box {
    margin-top: 10px; display: flex; flex-flow: row nowrap;
}
main .wrap .about .about_container .bg .about_content .box .left {
    margin-right: 200px;
}
main .wrap .about .about_container .bg .about_content .box .left p {
    font-size: 1.25rem; margin-top: 20px; 
}
main .wrap .about .about_container .bg .about_content .box .left p span {
    font-size: 1.5rem; 
    margin-right: 10px;
}
main .wrap .about .about_container .bg .about_content .box .right {}
main .wrap .about .about_container .bg .about_content .box .right p {
    font-size: 1.25rem; margin-top: 20px;
}
main .wrap .about .about_container .bg .about_content .box .right p span {
    font-size: 1.5rem; margin-right: 10px;
}
main .wrap .about .about_container .bg .about_content .box .right p a {
    text-decoration: underline; font-size: 1.25rem;
    color: #776B5D; font-weight: 500;
}
main .wrap .about .about_container .bg .about_content .box .right p a:hover {
    color: #E7C6C6;
}
main .wrap .about > span {
    content: ''; display: block;
    width: 557px; height: 3px; position: relative; top: 0; left: 50%;
    transform: translateX(-50%);
    background-color: #776B5D;
    margin-bottom: 200px;
}
/* skill */
main .wrap .skill {
    background-color: #B06161; height: 100%;
}
main .wrap .skill h2 {
    color: #E7C6C6; font-weight: 600; font-size: 4rem; text-align: center;
    margin: 0 auto 45px; 
}
main .wrap .skill .skill_container {
    background-color: #fff; margin: 45px 144px;
    padding: 30px 65px; border-radius: 40px;
}
main .wrap .skill .skill_container .skill_photo {
    display: flex; flex-flow: row wrap; justify-content: center;
    gap: 20px;
}
main .wrap .skill .skill_container .skill_photo button {}
main .wrap .skill .skill_container .skill_photo button img {
    width: 75px; height: auto; 
}
main .wrap .skill .skill_explanation {
    background-color: #fff; margin: 40px 144px;
    padding: 30px 65px; border-radius: 40px;
    position: relative;
}
main .wrap .skill .skill_explanation::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #ffffff; /* 배경색과 동일하게 설정합니다. */
    top: -15px;
    left: 50%; /* 말풍선의 좌우 여백에 따라 조절합니다. */
    transform: translateX(-50%);
}
main .wrap .skill .skill_explanation > p {
    position: absolute; top: 50%; left: 0;
    text-align: center; width: 100%; align-self: center;
    font-size: 1.5rem; font-weight: 600;
}
main .wrap .skill .skill_explanation .contents_wrap {
    display: flex; width: 100%; align-items: center; height: 150px;
}
main .wrap .skill .skill_explanation .contents_wrap .last_skill_photo {
    margin-right: 58px; 
}
main .wrap .skill .skill_explanation .contents_wrap .last_skill_photo img {
    width: 150px; height: auto;
}
main .wrap .skill .skill_explanation .contents_wrap .skill_text {
}
main .wrap .skill .skill_explanation .contents_wrap .skill_text .box {padding: 0 100px;}
main .wrap .skill .skill_explanation .contents_wrap .skill_text .box .skill_title {
    font-size: 3rem; font-weight: 700;
}
main .wrap .skill .skill_explanation .contents_wrap .skill_text .box .skill_content {
    margin-top: 20px; font-size: 1.25rem; font-family: "Noto Sans KR", sans-serif;
    font-weight: 500; line-height: 1.5;
}
/* .project */
main .wrap .project {
    margin: 100px 0;
}
main .wrap .project h1 {
    color: #776B5D; font-weight: 600; font-size: 4rem; margin-bottom: 15px;
    float: left; margin-left: 30px;
}
main .wrap .project .swiper-container {
    position: relative; width: 100%; height: fit-content;
    max-width: 1400px; margin: 0 auto; overflow: hidden;
}
main .wrap .project .swiper-container .swiper-wrapper {
    display: flex;
    /* width: 100%; overflow-x: hidden; */
    width: auto; max-width: 100%;
    white-space: nowrap; justify-content: space-between;
    padding-bottom: 250px; margin-left: 200px;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%; display: inline-block; margin-right: 300px;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide h2 {
    font-size: 2rem; font-weight: 700; color: #776B5D;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container {
    margin-top: 20px; display: flex; width: 100%;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo {
    position: relative; overflow: hidden;  margin-right: 30px;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo img {
    width: 400px; height: auto;
    z-index: 100; position: relative;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo .project_link button {
    text-align: left; width: 100px;
    position: absolute; left: 340px;  padding: 5px 15px;
    background-color: #DC8686; border-radius: 5px;
    z-index: 1; color: #fff;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo .project_link .result {top: 300px;}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo .project_link .plan {top: 340px;}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo .project_link .result:hover {
    background-color: #E7C6C6; transform: translateX(70px);
    width: 100px; transition: all 0.3s
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .photo .project_link .plan:hover {
    background-color: #E7C6C6; transform: translateX(70px);
    width: 70px; transition: all 0.3s;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .content .text  {
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .content dl {
    margin-top: 20px; margin-right: 15px;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .content dl dt {
    font-size: 2rem;
    white-space: nowrap;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .content dl dd {
    font-size: 1.25rem; 
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .content ul {
    margin-top: 10px; position: relative; top: -246px; right: -236px;
}
main .wrap .project .swiper-container .swiper-wrapper .swiper-slide .container .content ul li {
    font-size: 1.25rem; font-weight: 600; color:#B06161;
}
main .wrap .project .swiper-container .btn {
    position: absolute; left: 50%; bottom: 175px;
    transform: translateX(-50%);
}
main .wrap .project .swiper-container .btn #pause {
    margin-right: 30px; 
}
main .wrap .project .swiper-container .btn button {
    z-index: 999;
}
main .wrap .project .swiper-container .btn button:hover {
    color: #B06161;
}
main .wrap .project .swiper-container .result_btn {
    position: absolute; left: 63%; top: 0;
    transform: translateX(-50%); cursor: none;
}
main .wrap .project .swiper-container .result_btn a {
    margin-right: 10px; font-weight: 500; font-size: 1.125rem;
    border-radius: 10px; background-color: #DC8686;
    color: #F5EEE6; text-align: center; 
    width: 100px; height: 40px; line-height: 40px;
    display: inline-block; 
}
main .wrap .project .swiper-container .result_btn a:hover {
    background-color: #E7C6C6; color: #B06161;
}
main .wrap .project .swiper-container .swiper-button-prev{
    color: #776B5D; right: auto;
}
main .wrap .project .swiper-container .swiper-button-next {
    color: #776B5D; left: auto; z-index: 999;
}
main .wrap .project .swiper-container .swiper-pagination {
    bottom: 120px; font-weight: 700; 
}
main .wrap .design {}
main .wrap .design h2 {
    color: #776B5D; font-weight: 600; font-size: 4rem; margin-bottom: 45px;
    margin-left: 30px;
}
main .wrap .design .project_photo {
    margin: 30px;
    display: flex; flex-flow: row wrap;
    justify-content: space-between; align-items: center;
}
main .wrap .design .project_photo img {
    width: calc(100% / 3 - 20px); height: auto;
}